---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import GithubIcon from "@/assets/icons/social/github.svg";
import InstagramIcon from "@/assets/icons/social/instagram.svg";
import LinkedinIcon from "@/assets/icons/social/linkedin.svg";
import PinterestIcon from "@/assets/icons/social/pinterest.svg";
import XIcon from "@/assets/icons/social/x.svg";
import ProfileImage from "@/assets/profile.webp";
import HomeTabs from "@/components/home-tabs";
import Layout from "@/layouts/Layout.astro";
import { featuredProjects } from "@/lib/projects";
import { currentSkills, previouslyLearnedSkills } from "@/lib/skills";

const allDevlogPosts = (await getCollection("devlog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const allThoughtsPosts = (await getCollection("thought")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
    <main class="pt-20 lg:pt-32 border-x-2 w-full">
        <header class="px-8 md:px-12">
            <Image
                class="size-16 rounded-full"
                loading="eager"
                src={ProfileImage}
                alt="Profile"
            />
            <h1 class="text-lg mt-6">Yagnik Patel</h1>
            <h2 class="">Backend Engineering, DevOps & Systems</h2>
            <a
                class="block w-fit underline decoration-2 underline-offset-2 decoration-muted hover:decoration-foreground transition-colors"
                href="mailto:yagnik.pt@gmail.com">yagnik.pt@gmail.com</a
            >
            <div class="flex gap-2 mt-4">
                <a
                    target="_blank"
                    rel="noreferrer"
                    href="https://github.com/yagnikpt"
                    class="group p-1 rounded-xl bg-linear-to-b from-neutral-100 to-neutral-300/40 shadow-[0_1px_3px_rgba(0,0,0,0.5)] active:shadow-[0_0px_1px_rgba(0,0,0,0.5)] active:scale-[0.995]"
                >
                    <div
                        class="bg-linear-to-b from-neutral-300/40 to-neutral-100/80 rounded-lg px-2 py-1"
                    >
                        <div class="flex gap-2 items-center">
                            <GithubIcon class="size-5" />
                        </div>
                    </div>
                </a>
                <a
                    target="_blank"
                    rel="noreferrer"
                    href="https://www.linkedin.com/in/yagnikpt"
                    class="group p-1 rounded-xl bg-linear-to-b from-blue-600 to-blue-900 shadow-[0_1px_3px_rgba(0,0,0,0.5)] active:shadow-[0_0px_1px_rgba(0,0,0,0.5)] active:scale-[0.995] text-neutral-100"
                >
                    <div
                        class="bg-linear-to-b from-blue-900/40 to-blue-600/80 rounded-lg px-2 py-1"
                    >
                        <div class="flex gap-2 items-center">
                            <LinkedinIcon class="size-5" />
                        </div>
                    </div>
                </a>
                <a
                    target="_blank"
                    rel="noreferrer"
                    href="https://x.com/yagnik_pt"
                    class="group p-1 rounded-xl bg-linear-to-b from-neutral-600 to-neutral-900 shadow-[0_1px_3px_rgba(0,0,0,0.5)] active:shadow-[0_0px_1px_rgba(0,0,0,0.5)] active:scale-[0.995] text-neutral-100"
                >
                    <div
                        class="bg-linear-to-b from-neutral-900/40 to-neutral-600/80 rounded-lg px-2 py-1"
                    >
                        <div class="flex gap-2 items-center">
                            <XIcon class="size-5" />
                        </div>
                    </div>
                </a>
                <a
                    target="_blank"
                    rel="noreferrer"
                    href="https://instagram.com/yagnik._._.patel"
                    class="group p-1 rounded-xl bg-linear-to-b from-pink-500 to-pink-800 shadow-[0_1px_3px_rgba(0,0,0,0.5)] active:shadow-[0_0px_1px_rgba(0,0,0,0.5)] active:scale-[0.995] text-neutral-100"
                >
                    <div
                        class="bg-linear-to-b from-pink-800/40 to-pink-500/80 rounded-lg px-2 py-1"
                    >
                        <div class="flex gap-2 items-center">
                            <InstagramIcon class="size-5" />
                        </div>
                    </div>
                </a>
                <a
                    target="_blank"
                    rel="noreferrer"
                    href="https://pinterest.com/yagnik_pt"
                    class="group p-1 rounded-xl bg-linear-to-b from-red-500 to-red-800 shadow-[0_1px_3px_rgba(0,0,0,0.5)] active:shadow-[0_0px_1px_rgba(0,0,0,0.5)] active:scale-[0.995] text-neutral-100"
                >
                    <div
                        class="bg-linear-to-b from-red-800/40 to-red-500/80 rounded-lg px-2 py-1"
                    >
                        <div class="flex gap-2 items-center">
                            <PinterestIcon class="size-5" />
                        </div>
                    </div>
                </a>
            </div>
        </header>
        <section id="tabs" class="mt-4">
            <!-- @ts-ignore: already passing childs with slots -->
            <HomeTabs client:load>
                <div slot="info">
                    <div
                        class="grid gap-y-4 md:grid-cols-[1fr_4fr] px-8 md:px-12"
                    >
                        <h4 class="text-muted">Projects</h4>
                        <div class="flex flex-col gap-8">
                            {
                                featuredProjects.map((item) => (
                                    <div class="">
                                        {item.links.site ? (
                                            <div class="flex gap-2 items-center">
                                                <a
                                                    target="_blank"
                                                    rel="noreferrer"
                                                    class="underline decoration-2 decoration-muted"
                                                    href={item.links.site}
                                                >
                                                    {item.name}
                                                </a>
                                                {" | "}
                                                {item.links.repo && (
                                                    <a
                                                        class="underline decoration-2 decoration-muted"
                                                        target="_blank"
                                                        rel="noreferrer"
                                                        href={item.links.repo}
                                                    >
                                                        Repo
                                                    </a>
                                                )}
                                            </div>
                                        ) : (
                                            <a
                                                target="_blank"
                                                rel="noreferrer"
                                                class="underline decoration-2 decoration-muted"
                                                href={item.links.repo}
                                            >
                                                {item.name}
                                            </a>
                                        )}
                                        <p class="text-muted text-sm mt-1">
                                            {item.tech.join(", ")}
                                        </p>
                                        <p class="mt-2 text-pretty">
                                            {item.description}
                                        </p>
                                        <div class="flex gap-2 mt-4">
                                            {item.image.map((i) => (
                                                <Image
                                                    class="h-20 w-auto rounded"
                                                    src={i}
                                                    alt={item.name}
                                                    loading="eager"
                                                />
                                            ))}
                                        </div>
                                    </div>
                                ))
                            }
                        </div>
                    </div>
                    <div
                        class="grid gap-y-4 md:grid-cols-[1fr_4fr] mt-8 border-t-2 px-8 md:px-12 pt-8"
                    >
                        <h4 class="text-muted">Now</h4>
                        <div>
                            <p class="text-pretty">
                                These days I'm learning Go by building CLIs,
                                studying system design, and reading more about
                                how software works under the hood. The goal is
                                to understand the layers underneath the
                                abstractions I use every day.
                            </p>
                            <div class="flex gap-2 items-center flex-wrap mt-2">
                                {
                                    currentSkills.map((s) => (
                                        <div class="inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium transition-colors disabled:pointer-events-none hover:bg-muted/30 py-2 border border-[#dfdfdf] h-5.5 cursor-default gap-1.5 bg-[#ECECEE] px-1.5 pr-2 text-xs align-middle text-foreground">
                                            <s.icon class="size-3.5 pointer-events-none shrink-0" />
                                            <span>{s.label}</span>
                                        </div>
                                    ))
                                }
                            </div>
                        </div>
                    </div>
                    <div
                        class="grid gap-y-4 md:grid-cols-[1fr_4fr] mt-4 px-8 md:px-12 pt-4"
                    >
                        <h4 class="text-muted">Previously</h4>
                        <div>
                            <p class="text-pretty">
                                I got really into frontend part building
                                animations and interactions that felt natural
                                instead of decorative. I also went deep on
                                meta-frameworks, building stuff with Next.js,
                                SvelteKit, Astro and with tools like Drizzle
                                ORM, and PostgreSQL.
                            </p>
                            <div class="flex gap-2 items-center flex-wrap mt-2">
                                {
                                    previouslyLearnedSkills.map((s) => (
                                        <div class="inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium transition-colors disabled:pointer-events-none hover:bg-muted/30 py-2 border border-[#dfdfdf] h-5.5 cursor-default gap-1.5 bg-[#ECECEE] px-1.5 pr-2 text-xs align-middle text-foreground">
                                            <s.icon class="size-3.5 pointer-events-none shrink-0" />
                                            <span>{s.label}</span>
                                        </div>
                                    ))
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div slot="devlog" class="space-y-2 px-5 md:px-9">
                    {
                        allDevlogPosts.map((p) => (
                            <a
                                href={`/devlog/${p.id}`}
                                class="flex gap-2 items-center justify-between hover:bg-muted/10 transition-colors duration-300 px-3 py-1 rounded-lg"
                            >
                                <h4 class="line-clamp-1 [view-transition-name:post-title]">
                                    {p.data.title}
                                </h4>
                                <span class="text-muted shrink-0 [view-transition-name:post-date]">
                                    {(() => {
                                        const date = new Date(p.data.pubDate);
                                        return date.toLocaleDateString(
                                            "en-US",
                                            {
                                                year: "numeric",
                                                month: "long",
                                                day: "numeric",
                                            },
                                        );
                                    })()}
                                </span>
                            </a>
                        ))
                    }
                </div>
                <div slot="thoughts" class="space-y-2 px-5 md:px-9">
                    {
                        allThoughtsPosts.map((p) => (
                            <a
                                href={`/thought/${p.id}`}
                                class="flex gap-2 items-center justify-between hover:bg-muted/10 transition-colors duration-300 px-3 py-1 rounded-lg"
                            >
                                <h4 class="line-clamp-1 [view-transition-name:post-title]">
                                    {p.data.title}
                                </h4>
                                <span class="text-muted shrink-0 [view-transition-name:post-date]">
                                    {(() => {
                                        const date = new Date(p.data.pubDate);
                                        return date.toLocaleDateString(
                                            "en-US",
                                            {
                                                year: "numeric",
                                                month: "long",
                                                day: "numeric",
                                            },
                                        );
                                    })()}
                                </span>
                            </a>
                        ))
                    }
                </div>
            </HomeTabs>
        </section>
    </main>
</Layout>
