---
import "@/styles/global.css";
import { Font } from "astro:assets";
import type { InferEntrySchema } from "astro:content";
import { CalendarMonth, Undo } from "@material-symbols-svg/astro/rounded";

interface Props {
    id: string;
    thought: InferEntrySchema<"thought">;
}

const { thought, id } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const formattedDate = new Date(thought.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
});
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="canonical" href={canonicalURL} />
        <meta name="generator" content={Astro.generator} />
        <Font cssVariable="--font-google-sans" />
        <Font cssVariable="--font-playfair-display" />

        <!-- Primary Meta Tags -->
        <title>{thought.title} - Yagnik Patel</title>
        <meta name="title" content={`${thought.title} - Yagnik Patel`} />
        <meta name="description" content="just an interesting thought ig" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="article" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={thought.title} />
        <meta
            property="og:description"
            content={"just an interesting thought ig"}
        />
        <meta
            property="og:image"
            content={new URL("/scratchpad-og.webp", Astro.url)}
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={thought.title} />
        <meta
            property="twitter:description"
            content={"just an interesting thought ig"}
        />
        <meta
            property="twitter:image"
            content={new URL("/scratchpad-og.webp", Astro.url)}
        />
    </head>

    <body>
        <main
            class="pt-20 lg:pt-32 max-w-2xl 2xl:max-w-3xl mx-auto max-sm:px-8"
        >
            <a
                class="flex items-center gap-2 text-sm hover:bg-muted/10 py-1 px-2 transition-colors w-fit rounded-md cursor-default"
                href="/?tab=thought"
            >
                <Undo class="size-4" />
                <span>Back to Home</span></a
            >
            <header class="my-6 py-4 border-b-2">
                <h1
                    style={{
                        viewTransitionName: `thought-title-${id}`,
                    }}
                    class="text-3xl md:text-4xl font-medium font-serif w-fit"
                >
                    {thought.title}
                </h1>
                <div class="flex mt-4 gap-2 items-center text-foreground/75">
                    <CalendarMonth class="size-5" />
                    <span
                        style={{
                            viewTransitionName: `thought-date-${id}`,
                        }}
                        class="text-sm">{formattedDate}</span
                    >
                </div>
            </header>
            <article
                class="prose dark:prose-invert max-w-none pb-20 prose-blockquote:text-inherit"
            >
                <slot />
            </article>
        </main>
    </body>
</html>
